.bid-list .data-table__header {
	padding: 0 30px;
}

.bid-list .modal-dialog__frame-content {
	padding: 0;
}

.bid-list .modal-dialog__frame-content .data-form__fields {
	margin: 20px 50px;
}

.bid-list .modal-dialog__frame-content .data-form__actions {
	margin: 20px 50px;
}