.data-form {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
}

.data-form__title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: darkgray;
	color: white;
	margin: 0 0 20px 0;
}

.data-form__fields {
	display: flex;
	flex-direction: column;
	margin: 0 350px 20px 350px;
}

.data-form__fields-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.data-form__fields-item:nth-child(odd) {
	background-color: #eeeeee;
}

.data-form__fields-item-label {
	width: 50%;
}

.data-form__fields-item-value {
	width: 80%;
	font-size: 15px;
	font-weight: 100;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;
}

.data-form__fields-item-value:disabled {
	border-color: transparent;
	background-color: transparent;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.data-form__content {
	align-self: center;
	margin: 0 0 20px 0;
}

.data-form__actions {
	display: flex;
	flex-direction: row;
	margin: 0 350px 20px 350px;
}

.data-form__actions_right-aligned {
	justify-content: flex-end;
}

.data-form__actions-button {
	margin: 0 5px;
}
